In [5]:
import yfinance as yf
trbcx = yf.Ticker('trbcx')
data = trbcx.funds_data

# show fund description
# data.description

# show operational information
# data.fund_overview
# data.fund_operations

# # show holdings related information
# data.asset_classes
data.top_holdings
# data.equity_holdings
# data.bond_holdings
# data.bond_ratings
# data.sector_weightings

                              Name  Holding Percent
Symbol
MSFT                Microsoft Corp         0.127215
NVDA                   NVIDIA Corp         0.117665
AAPL                     Apple Inc         0.093985
AMZN                Amazon.com Inc         0.078968
GOOG          Alphabet Inc Class C         0.058507
META    Meta Platforms Inc Class A         0.049101
LLY               Eli Lilly and Co         0.035240
V                 Visa Inc Class A         0.026520
MA          Mastercard Inc Class A         0.023474
NOW                 ServiceNow Inc         0.021074

In [10]:
import yfinance as yf

msft = yf.Ticker("FDKLX")

# get all stock info
msft.info["shortName"]
msft.info["longName"]

'Fidelity Freedom Index 2060 Investor'

In [8]:
import json
from helpers import email_create
import pandas as pd

with open("stress_test.json", "r") as json_file:
    holdings = json.load(json_file)

def generate_data(holdings):
    value = dict()
 
    historic = pd.DataFrame()
    stocks = list(holdings.keys())

    for stock in stocks:
        info = yf.Ticker(stock)
        value[stock] = holdings[stock] * info.info['regularMarketPreviousClose']
        stock_history = info.history(period="6mo")
        historic = pd.concat([historic, (stock_history['Close'] * holdings[stock]).rename(stock)], axis=1)

    historic['Total'] = historic.sum(axis=1)
    return historic

generate_data(holdings)

,AAPL,GOOG,MSFT,AMZN,TSLA,NFLX,NVDA,DIS,INTC,AMD,...,MDT,LLY,NKE,TXN,HON,MMM,CAT,LMT,RTX,Total
2024-04-30 00:00:00-04:00,84951.316833,49270.999146,96982.452393,26250.000000,18327.999878,44051.201172,17277.502441,8294.234276,15077.722549,50681.601562,...,7496.410484,66188.038025,6404.493179,6960.985718,11440.298767,8579.739990,16601.004028,13777.666626,7026.303406,693376.075684
2024-05-01 00:00:00-04:00,84437.606812,49549.319458,98379.905701,26850.000000,17999.000549,44136.801758,16605.415344,8247.948647,15028.239250,46166.401367,...,7557.137222,65819.431458,6271.210556,6912.847900,11592.852173,8751.316910,16427.337646,13682.838135,7005.540314,688012.635869
2024-05-02 00:00:00-04:00,86297.920227,50414.195251,99102.294922,27708.000183,18000.999451,45212.001953,17160.522461,8407.711601,15097.516060,46771.201172,...,7559.939270,64053.512878,6414.906235,6936.522827,11494.315796,8606.409988,16644.172668,13726.400757,7051.912003,694354.872882
2024-05-03 00:00:00-04:00,91459.938049,50572.801208,101299.369812,27931.501007,18119.000244,46347.202148,17754.823303,8485.353470,15290.503502,48192.001953,...,7631.877098,62279.122314,6396.856689,7059.233398,11623.125000,8636.635437,16709.173584,13688.172913,7017.998810,704098.528060
2024-05-06 00:00:00-04:00,90627.044678,50824.186707,103013.191223,28304.999542,18475.999451,47757.597656,18424.909973,8695.135117,15387.388229,49849.599609,...,7638.416176,64966.137085,6480.852737,7168.134766,11575.044250,8586.851578,16974.635315,13713.954163,7053.296280,714039.978372
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-24 00:00:00-04:00,115285.003662,49358.999634,106182.502747,27957.000732,26048.001099,60363.999023,28082.000732,7155.000114,11170.000076,49100.800781,...,8644.049797,75762.200623,5532.800064,8264.400024,12546.000366,11382.300110,19352.999878,16926.300659,8761.899872,809298.226490
2024-10-25 00:00:00-04:00,115705.001831,50097.001648,107037.498474,28174.500275,26919.000244,60374.399414,28307.998657,7127.249908,11340.000153,49993.598633,...,8606.049652,75879.501038,5519.499893,8277.199707,12480.000000,11227.500000,19298.500061,16868.699341,8761.200256,812817.382016
2024-10-28 00:00:00-04:00,116699.996948,50501.998901,106647.499084,28258.499908,26251.000977,59929.599609,28104.000854,7214.999771,11460.000038,51174.399414,...,8606.999855,76125.152283,5523.700256,8233.200073,12366.000366,11726.099396,19530.499268,16655.099487,8780.100021,813926.709948
2024-10-29 00:00:00-04:00,116834.999084,51341.999817,107987.503052,28624.500275,25951.998901,60755.200195,28250.000000,7209.749794,11449.999809,53200.000000,...,8580.399971,76804.301453,5488.000107,8454.000244,12358.799744,11634.300385,19375.500488,16403.999634,8595.300064,818186.960319
2024-10-30 00:00:00-04:00,115050.003052,52841.999817,108132.499695,28909.499359,25754.998779,60299.199219,27867.999268,7131.000137,11149.999619,47552.001953,...,8597.500000,71980.551453,5351.499786,8317.199707,12251.999817,11480.399780,18961.999512,16378.200073,8530.200043,804225.673720